body{
    background: radial-gradient(circle at center, rgb(2, 1, 102) 0, rgb(50, 56, 167) 100%);
}

.topnav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: 99%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:active {
  background-color: #246969;
  color: white;
}

h1, h2{
  font-family: Arial;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 75px;
}

p{
  font-family: Arial;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 45px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 30%
}
